li {
    list-style: none;
}

body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;

}

.w {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
}

img{
    margin: 0 auto;
}

.p1{
    margin: 2 auto;
}

.p2{
    width: 500;
    float: left;
    margin: 2 auto;
}

.save{
    float: left;
}

#theCanvas {
    float: left;
    display: block;
    border: 10px;
    border-style: solid;
}


.right {
    float: right;
    margin-right: 15px;
}

.left {
    float: right;
    margin-right: 50px;
}

.left img,.right img{
    display: block;
}
.left img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.right img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.btns {
    margin-top: 100px;
    text-align: center;
}

button {
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 25px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
}

button:focus {
    background-color: #5e990e;
    color: #fff;
}

.banner {
    height: 500px;
    margin: 0 auto;
}
